
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: url("../img/geometry.png") repeat fixed;
}

#user-section,
#latest-projects-title,
#language-counts{
  display: none;
}

#username{
    font-weight: 700;
    color: #555;
}

#bio-text{
    color: #777;
}

#language-counts{
    list-style: none;
    text-align: center;
    padding: 0;
}

#latest-projects-title {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: #555;
    font-weight: 100;
}

#language-counts .badge-warning {
    border-radius: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.card .btn-primary{
    border: none;
    background: #00c6ff;
    background: -webkit-linear-gradient(to top,#0072ff,#00c6ff);
    background: linear-gradient(to top,#0072ffd9,#00c6ffcc);
    border-bottom: 4px solid #006bde;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.card {
  min-height: 300px;
  margin-bottom: 25px;
  color: #696969;
  box-shadow: 2px 2px 15px 0 #33333333;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover{
  box-shadow: 2px 2px 6px 0 #33333333;
  transition: box-shadow 0.2s ease-in-out;
}

.card-title{
  font-size: 18px;
  font-weight: 700;
}

.repo-link{
    color: #454545;
    text-decoration: none !important;
}

.card-text {
  font-size: 14px;
}

.issue-count{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
}

.language-img{
  height: 100px;
  width: 100px;
  margin: auto;
}

.badge-warning{
    background-color: #fff;
}
