@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next"), url("../fonts/AvenirNextLTPro-Bold.otf") format("otf");
}


body {
    margin: 0;
    padding: 0;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Avenir Next', sans-serif;
    background: url("../img/geometry.png") repeat fixed;
}

#user-section,
#latest-projects-title,
#language-counts {
    display: none;
}

#username {
    font-weight: 700;
    color: #555;
}

#bio-text {
    color: #777;
}

#language-counts {
    list-style: none;
    text-align: center;
    padding: 0;
}

#latest-projects-title {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: #555;
    font-weight: 100;
}

#language-counts .badge-warning {
    border-radius: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.issues {
    /*border: none;*/
    /*background: #00c6ff;*/
    /*background: -webkit-linear-gradient(to top,#0072ff,#00c6ff);*/
    /*background: linear-gradient(to top,#0072ffd9,#00c6ffcc);*/
    /*border-bottom: 4px solid #006bde;*/
    border: 2px solid #aaa;
    color: #aaa;
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.issues:hover {
    background: #aaa;
    color: #fff;
}

.card {
    min-height: 300px;
    margin-bottom: 25px;
    color: #696969;
    box-shadow: 2px 2px 15px 0 #33333333;
    transition: box-shadow 0.2s ease-in-out;
    /*background: -webkit-linear-gradient(to bottom right, #ffffff, #f9f9f9);*/
    /*background: linear-gradient(to bottom right, #ffffff, #f9f9f9);*/
}

.card:hover {
    box-shadow: 2px 2px 6px 0 #33333333;
    transition: box-shadow 0.2s ease-in-out;
}

.card::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #aaa;
    transition: width .5s;
    border-radius: 2px;
}

.card:hover::after {
    width: 100%;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
}

.repo-link {
    color: #454545;
    text-decoration: none !important;
}

.fork-link {
    text-align: right;
    font-size: 11px;
}

.fork-link img {
    width: 15px;
    height: auto;
}

.card-text {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    overflow: scroll;
    max-height: 125px;
}

.issue-count {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
}

.language-img {
    height: 100px;
    width: 100px;
    margin: auto;
}

.badge-warning {
    background-color: #fff;
}

.issues-sm {
    border: 2px solid #86d07a !important;
    color: #86d07a !important;
    background: none !important;
}

.issues-sm:hover {
    background: #86d07a !important;
    color: #fff !important;
}

.issues-md {
    border: 2px solid #7ab0d0 !important;
    color: #7ab0d0 !important;
    background: none !important;
}

.issues-md:hover {
    background: #7ab0d0 !important;
    color: #fff !important;
}

.issues-lg {
    border: 2px solid #ffc171 !important;
    color: #ffc171 !important;
    background: none !important;
}

.issues-lg:hover {
    background: #ffc171 !important;
    color: #fff !important;
}

.issues-xl {
    border: 2px solid #ff7175 !important;
    color: #ff7175 !important;
    background: none !important;
}

.issues-xl:hover {
    background: #ff7175 !important;
    color: #fff !important;
}

.issues-sm-card:hover::after,
.issues-md-card:hover::after,
.issues-lg-card:hover::after,
.issues-xl-card:hover::after {
    width: 100%;
}

.issues-sm-card::after {
    background: #86d07a;
}

.issues-md-card::after {
    background: #7ab0d0;
}

.issues-lg-card::after {
    background: #ffc171;
}

.issues-xl-card::after {
    background: #ff7175;
}
